/* Start General */
:root {
    --main-color: #f22c5c;
    --Second-color: #272741;
    --back-ground-color: #171e22;
    --main-transition: 0.3s;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
    background-color: #eff2f3;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
}

.heading {
    margin: 0px auto 80px;
    padding: 15px 25px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    border: 2px solid var(--main-color);
    position: relative;
    z-index: 10;
    color: var(--main-color);
}

.heading:hover {
    color: white;
    border: none;
    border: 2px solid white;
    transition-delay: 0.5s;
    transition-duration: 0.2s;
}

.heading::before,
.heading::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
}

.heading::before {
    left: -30px;
}

.heading::after {
    right: -30px;
}

.heading:hover::before {
    animation: to-right 0.5s linear forwards;
}

.heading:hover::after {
    animation: to-left 0.5s linear forwards;
}

@keyframes to-right {
    50% {
        left: 0;
    }

    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0px;
        z-index: -1;
    }
}

@keyframes to-left {
    50% {
        right: 0;
    }

    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0px;
        z-index: -1;
    }
}

/* End General */
/* Start Profile */
.profile {
    display: flex;
    align-items: stretch;
}

/* End Profile */
/* Start Navbar */
.navbar {
    flex-grow: 1;
    background-color: var(--Second-color);
    min-height: 100vh;
    color: white;
    padding: 30px;
    font-size: 19px;
    max-height: max-content;
}

.navbar .dashboard {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    width: fit-content;
}

.navbar .dashboard::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 1px;
    background-color: white;
    transform: translateX(-50%);
}

.navbar ul .li {
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: var(--main-transition);
}

.navbar ul #setting {
    color: var(--main-color);
}

.navbar ul #myProducts {
    color: white;
}

.navbar ul #CreateStaff {
    color: white;
}

.navbar ul .li:hover {
    color: var(--main-color);
}

.navbar ul li a {
    color: white;
}

/* End Navbar */
/* Start Info */
.info {
    flex-grow: 20;
    display: flex;
    align-items: stretch;
    background-color: #eff2f3;
}

.info .general {
    flex-grow: 5;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    padding: 20px;
}

.info .general h2 {
    margin-bottom: 30px;
}

.info .general .userName {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.info .general .userName p {
    font-weight: bold;
}

.info .private {
    flex-grow: 1;
    margin: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--Second-color);
}

.info .private .privateInfo {
    background-color: white;
    flex-grow: 1;
    border-radius: 10px;
}

.info .private .privateInfo img {
    width: 150px;
    height: 150px;
    margin-top: 100px;
    border-radius: 50%;
}

.info .private .privateInfo svg {
    width: 150px;
    height: 150px;
    margin-top: 100px;
}

.info .private .privateInfo .role h3 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.info .private .privateSelect {
    background-color: white;
    flex-grow: 1;
    border-radius: 10px;
}

.info .private .privateSelect h2 {
    margin: 10px;
}

/* End Info */
/* Start Myproducts */
.myproducts {
    display: none;
    flex-grow: 18;
    align-items: stretch;
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1300px;
    background-color: #eff2f3;
}

.action {
    display: flex;
    justify-content: space-between;
}

select {
    height: fit-content;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    width: 150px;
    background-color: white;
    border: 1px solid #777;
    transition: 0.3s;
    color: #777;
}

select:hover {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

form {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}

form input {
    border: 1px solid #777;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

form input:focus {
    outline: none;
}

form .searchIcon {
    color: #777;
    font-size: 18px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.content .box {
    box-shadow: 0px 2px 15px rgb(0, 0, 0, 0.1);
    transition: 0.3s;
    border-radius: 5px;
    overflow: hidden;
}

.content .box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 2px 15px rgb(0, 0, 0, 0.2);
}

.content .box img {
    width: 100%;
}

.content .box .text {
    padding: 20px;
}

.content .box .text h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.content .box .text p {
    color: var(--text-color);
    line-height: 1.6;
}

.content .box .text p:nth-child(3) {
    font-weight: bold;
}

.content .box .text .price {
    font-size: 20px;
    margin-top: 10px;
    color: var(--main-color);
}

.content .box .info {
    padding: 20px;
    border-top: 1px solid var(--background-color);
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    align-items: center;
    cursor: pointer;
}

.content .box .info a {
    color: var(--main-color);
}

.content .box:hover .info .i {
    animation: arrow-right 0.5s linear infinite;
}

@keyframes arrow-right {
    100% {
        transform: translateX(10px);
    }
}

.content .box .rateAndAdd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .box .add {
    padding-right: 20px;
    cursor: pointer;
}

.content .box .add .type {
    display: none;
}

.content .box .add .type input {
    appearance: none;
    width: 100px;
    height: 30px;
    border: 3px solid var(--main-color);
}

.content .box .rate {
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}

.content .box .rate .i {
    color: yellow;
}

/* End Myproducts */
/* Start CreateStaff */
.CreateStaff {
    display: none;
    flex-grow: 18;
    align-items: stretch;
    padding-top: 50px;
    padding-bottom: 120px;
    max-width: 1300px;
    background-color: #eff2f3;
}

.CreateStaff .content h2 {
    display: flex;
    align-items: center;
    color: var(--Second-color);
}

.CreateStaff .content form input {
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #bcbcbc;
    padding: 10px;
    width: 100%;
    font-size: 17px;
    background-color: inherit;
}

.CreateStaff .content form input:focus {
    outline: none;
}

.CreateStaff .content form input::placeholder {
    font-size: 15px;
    text-transform: uppercase;
    color: #777;
}

.CreateStaff .content form button {
    width: 30%;
    margin: 30px auto;
    padding: 15px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--Second-color);
    color: white;
    cursor: pointer;
    transition: var(--main-transition);
}

.CreateStaff .content form button:hover {
    box-shadow: -10px 7px 20px rgba(0, 0, 0, 0.341);
    background-color: var(--back-ground-color);
    color: white;
}

.CreateStaff .content a {
    width: fit-content;
    align-self: flex-start;
    color: var(--Second-color);
    padding: 20px 0 0 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    transition: var(--main-transition);
}

.CreateStaff .content form a:hover {
    text-shadow: -10px 7px 20px rgba(0, 0, 0, 0.541);
}


/* End CreateStaff */
/* Start Notify */
.notify {
    display: none;
    flex-grow: 18;
    align-items: stretch;
    padding-top: 50px;
    padding-bottom: 120px;
    max-width: 1300px;
    background-color: #eff2f3;
}

.notify .box .brand,
.notify .box .category {
    display: flex;
    gap: 10px;
    padding-left: 20px;
}

.notify .box .category {
    margin-bottom: 20px;
}

.notify .box .brand p,
.notify .box .category p {
    font-weight: bold;
}

.notify .box .actionProduct {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.notify .box .actionProduct .accept,
.notify .box .actionProduct .refuse {
    background-color: var(--Second-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px;
}

/* End Notify */
/* Start Requests */
.requests {
    display: none;
    flex-grow: 18;
    align-items: stretch;
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1300px;
    background-color: #eff2f3;
}

.requests .box .brand,
.requests .box .category {
    display: flex;
    gap: 10px;
    padding-left: 20px;
}

.requests .box .category {
    margin-bottom: 20px;
}

.requests .box .brand p,
.requests .box .category p {
    font-weight: bold;
}

.requests .box .actionProduct {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.requests .box .actionProduct .accept,
.requests .box .actionProduct .refuse {
    background-color: var(--Second-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px;
}

/* End Requests */
/* Start Assign */
.assign {
    display: none;
    flex-grow: 18;
    align-items: stretch;
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1300px;
    background-color: #eff2f3;
}

.assign .content h2 {
    display: flex;
    align-items: center;
    color: var(--Second-color);
}

.assign .content form input {
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #bcbcbc;
    padding: 10px;
    width: 100%;
    font-size: 17px;
    background-color: inherit;
}

.assign .content form input:focus {
    outline: none;
}

.assign .content form input::placeholder {
    font-size: 15px;
    text-transform: uppercase;
    color: #777;
}

.assign .content form button {
    width: 30%;
    margin: 30px auto;
    padding: 15px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--Second-color);
    color: white;
    cursor: pointer;
    transition: var(--main-transition);
}

.assign .content form button:hover {
    box-shadow: -10px 7px 20px rgba(0, 0, 0, 0.341);
    background-color: var(--back-ground-color);
    color: white;
}

.assign .content a {
    width: fit-content;
    align-self: flex-start;
    color: var(--Second-color);
    padding: 20px 0 0 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    transition: var(--main-transition);
}

.assign .content form a:hover {
    text-shadow: -10px 7px 20px rgba(0, 0, 0, 0.541);
}


/* End Assign */
/* Start CreateShelter */
.CreateShelter {
    display: none;
    flex-grow: 18;
    align-items: stretch;
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1300px;
    background-color: #eff2f3;
    color: var(--Second-color);
}

.CreateShelter .content h2 {
    display: flex;
    align-items: center;
    color: var(--Second-color);
}

.CreateShelter .content form input {
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #bcbcbc;
    padding: 10px;
    width: 100%;
    font-size: 17px;
    background-color: inherit;
}

.CreateShelter .content form input:focus {
    outline: none;
}

.CreateShelter .content form input::placeholder {
    font-size: 15px;
    text-transform: uppercase;
    color: #777;
}

.CreateShelter .content form button {
    width: 30%;
    margin: 30px auto;
    padding: 15px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--Second-color);
    color: white;
    cursor: pointer;
    transition: var(--main-transition);
}

.CreateShelter .content form button:hover {
    box-shadow: -10px 7px 20px rgba(0, 0, 0, 0.341);
    background-color: var(--back-ground-color);
    color: white;
}

.CreateShelter .content a {
    width: fit-content;
    align-self: flex-start;
    color: var(--Second-color);
    padding: 20px 0 0 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    transition: var(--main-transition);
}

.CreateShelter .content form a:hover {
    text-shadow: -10px 7px 20px rgba(0, 0, 0, 0.541);
}

/* End CreateShelter */