/* Start General */
:root {
    --main-color: #6cc236;
    --Second-color: #212b31;
    --back-ground-color: #171e22;
    --main-transition: 0.3s;
}

* {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* End General */
/* Start Signin */
.signin {
    padding: 0;
    position: relative;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/Sign-In-2.png);
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 2;
    filter: blur(100px);
}

.signin .content {
    position: relative;
    z-index: 3;
    display: flex;
    width: 900px;
    height: 650px;
    box-shadow: -10px 7px 20px rgba(0, 0, 0, 0.341);
    background-color: rgba(255, 255, 255, 0.684);
    border-radius: 5px;
}

.signin .content form {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    color: var(--Second-color);
    text-align: center;
}

.signin .content form .head {
    text-transform: uppercase;
    margin: 10px 0 30px 0;
    margin-top: 60px;
    font-weight: bold;
    font-size: 25px;
}

.signin .content form .select {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;
}

.signin .content form .select .staff,
.signin .content form .select .adopter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.signin .content form .select .staff #staff,
.signin .content form .select .adopter #adopter {
    border-radius: 50%;
}

.signin .content form .headup {
    text-transform: uppercase;
    margin: 0px 0 30px 0;
    font-weight: bold;
    font-size: 25px;
}

.signin .content form input {
    margin: 15px 0;
    border: none;
    border-bottom: 1px solid #bcbcbc;
    padding: 10px;
    width: 80%;
    font-size: 17px;
    background-color: inherit;
}

.signin .content form input:focus {
    outline: none;
}

.signin .content form input::placeholder {
    font-size: 15px;
    text-transform: uppercase;
    color: #777;
}

.signin .content form button {
    width: 30%;
    margin: 30px auto;
    padding: 15px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--Second-color);
    color: white;
    cursor: pointer;
    transition: var(--main-transition);
}

.signin .content form button:hover {
    box-shadow: -10px 7px 20px rgba(0, 0, 0, 0.341);
    background-color: var(--back-ground-color);
    color: white;
}

.signin .content form a {
    width: fit-content;
    align-self: flex-end;
    color: var(--Second-color);
    color: var(--Second-color);
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    transition: var(--main-transition);
}

.signin .content form a:hover {
    text-shadow: -10px 7px 20px rgba(0, 0, 0, 0.541);
}

.signin .content form .home {
    width: fit-content;
    align-self: flex-start;
    color: var(--Second-color);
    color: var(--Second-color);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.signin .content form .line {
    color: #676767;
    margin: 10px 0;
    width: fit-content;
    position: relative;
    align-self: center;
}

.signin .content form .line::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    top: 50%;
    right: 110%;
    background-color: #ababab;
}

.signin .content form .line::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    top: 50%;
    left: 110%;
    background-color: #ababab;
}

.signin .content form .googleSign {
    margin: 15px auto;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: fit-content;
    cursor: pointer;
}

.signin .content img {
    width: 100%;
    height: 70%;
    margin: auto;
    margin-right: -60px;
    z-index: 4;
    box-shadow: -10px 7px 20px rgba(0, 0, 0, 0.341);
    position: relative;
    display: block;
    filter: blur(1px);
}

/**/
.signup {
    padding: 0;
    position: relative;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/Sign-In-2.png);
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 2;
    filter: blur(100px);
}

.signup .content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 650px;
    box-shadow: -10px 7px 20px rgba(0, 0, 0, 0.341);
    background-color: rgba(255, 255, 255, 0.684);
    border-radius: 5px;
}

.signup .content form {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 40px 60px;
    color: var(--Second-color);
    text-align: center;
}

.signup .content form .head {
    text-transform: uppercase;
    margin: 10px 0 30px 0;
    margin-top: 60px;
    font-weight: bold;
    font-size: 25px;
    width: 100%;
}

.signup .content .headup {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    width: fit-content;
    margin: 30px auto 0;
}

.signup .content form input {
    margin: 15px 0;
    border: none;
    border-bottom: 1px solid #bcbcbc;
    padding: 10px;
    width: 100%;
    font-size: 17px;
    background-color: inherit;
}

.signup .content form input:focus {
    outline: none;
}

.signup .content form input::placeholder {
    font-size: 15px;
    text-transform: uppercase;
    color: #777;
}

.signup .content form button {
    width: 30%;
    margin: 30px auto;
    padding: 15px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--Second-color);
    color: white;
    cursor: pointer;
    transition: var(--main-transition);
}

.signup .content form button:hover {
    box-shadow: -10px 7px 20px rgba(0, 0, 0, 0.341);
    background-color: var(--back-ground-color);
    color: white;
}

.signup .content a {
    width: fit-content;
    align-self: flex-start;
    color: var(--Second-color);
    padding: 20px 0 0 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    transition: var(--main-transition);
}

.signup .content form a:hover {
    text-shadow: -10px 7px 20px rgba(0, 0, 0, 0.541);
}

.signup .content form .home {
    width: fit-content;
    align-self: flex-start;
    color: var(--Second-color);
    color: var(--Second-color);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.signup .content form .line {
    color: #676767;
    margin: 10px 0;
    width: fit-content;
    position: relative;
    align-self: center;
}

.signup .content form .line::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    top: 50%;
    right: 110%;
    background-color: #ababab;
}

.signup .content form .line::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    top: 50%;
    left: 110%;
    background-color: #ababab;
}

.signup .content form .googleSign {
    margin: 15px auto;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: fit-content;
    cursor: pointer;
}

.signup .content img {
    width: 100%;
    height: 70%;
    margin: auto;
    margin-right: -60px;
    z-index: 4;
    box-shadow: -10px 7px 20px rgba(0, 0, 0, 0.341);
    position: relative;
    display: block;
    filter: blur(1px);
}






/* End Signin */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.profile_container {
    width: 100%;
    height: 100vh;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-image: linear-gradient(-10deg, black, #444444);
    /* background-color: #444444; */
    color: #f22c5c;
    font-size: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: Cursive;
    /* overflow: hidden; */
}

.profile_image_div {

    max-width: 100%;
    /* height: auto; */

    margin-right: auto;
    /* float: left; */

}

.profile_image {
    width: 50%;
    margin-left: 25%;
}

.profile_left {
    width: 30%;
    height: 100%;
    box-shadow: 5px 5px 20px #f22c5c;
    background-image: linear-gradient(-20deg, rgb(34, 100, 161), darkcyan);
    float: left;
    border-radius: 10px;
}

.profile_right {
    /* width: 100%; */
    float: left;
    padding-left: 5%;
    color: #f22c5c;
}

.profile_name {
    /* color: #333; */
    /* margin-bottom: 10px; */
    /* padding-top: 5%; */
    margin-top: 5%;
    margin-bottom: 0%;
    word-wrap: break-word;
    font-size: 26px;
    text-align: center;
    font-family: Cursive;
}

.profile_header {
    font-size: 30px;
    margin: 0px;
    padding-left: 10px;
    color: black;
    font-family: Cursive;
}

.profile_email {
    font-size: 20px;
    /* color: #666; */
    margin-bottom: 10px;
    margin-top: 0px;
    word-wrap: break-word;
    text-align: center;
    font-family: Cursive;
}

.change_name_button {
    background-color: cyan;
    border: none;

}

.profile_line_break {
    border-color: black;
}